@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h1 class="display-5">SportsPro Technical Support</h1>
    <p>Sports management software for the sports enthusiast</p>
</div>

<div class="container-fluid">
    <h1 class="display-5">Admin</h1>
</div>

<div class="container-fluid">
    <div class="section-label">
        <h2>Manage Products</h2>
    </div>

    <div class="section-label">
        <h2>Manage Technicians</h2>
    </div>

    <div class="section-label">
        <h2>Manage Customers</h2>
    </div>

    <div class="section-label">
        <h2>Manage Incidents</h2>
    </div>

    <div class="section-label" style="margin-bottom: 10px">
        <h2>Manage Registrations</h2>
    </div>
</div>

<div class="container-fluid">
    <h1 class="display-5">Technician</h1>
</div>

<div class="container-fluid">
    <div class="section-label">
        <h2>Update Incidents</h2>
    </div>
</div>

<style>
    .section-label {
        border: 1px solid #ccc;
        padding: 10px;
    }
</style>
