@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* Add custom styles to override link styles for main links */
    .main-link {
        color: black !important;
        text-decoration: none !important;
    }
</style>

<div class="container-fluid">
    <h1 class="display-5">SportsPro Technical Support</h1>
    <p>Sports management software for the sports enthusiast</p>
</div>

<div class="container-fluid">
    <h1 class="display-5">Admin</h1>
</div>

<div class="container-fluid">
    <div class="section-label">
        <h2><a class="main-link" asp-controller="Products" asp-action="ProductList">Manage Products</a></h2>
    </div>

    <div class="section-label">
        <h2><a class="main-link" asp-controller="Technicians" asp-action="TechnicianList">Manage Technicians</a></h2>
    </div>

    <div class="section-label">
        <h2><a class="main-link" asp-controller="Customers" asp-action="CustomerList">Manage Customers</a></h2>
    </div>

    <div class="section-label">
        <h2><a class="main-link" asp-area="" asp-controller="Incidents" asp-action="IncidentList">Manage Incidents</a></h2>
    </div>

    <div class="section-label" style="margin-bottom: 10px">
        <h2><a class="main-link" asp-area="" asp-controller="" asp-action="Registrations">Manage Registrations</a></h2>
    </div>
</div>

<div class="container-fluid">
    <h1 class="display-5">Technician</h1>
</div>

<div class="container-fluid">
    <div class="section-label">
        <h2><a class="main-link" asp-area="" asp-controller="TechIncident" asp-action="Index">Update Incidents</a></h2>
    </div>
</div>



<style>
    .section-label {
        border: 1px solid #ccc;
        padding: 10px;
    }
</style>
